.burger {
	display: none;
	width: 25px;
	height: 25px;
	position: relative;
	background-color: transparent;
	position: relative;
	z-index: 10;

	@media (max-width: 576px) {
		display: block;
	}

	&:hover {
		span,
		&::before,
		&::after {
			background-color: #358bee;
		}
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 5px;
		background: #ffffff;
	}

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 5px;
		background: #ffffff;
	}

	span {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		height: 5px;
		background: #ffffff;
		transform: translateY(-50%);
	}
	&--active {
		span {
			transform: scale(0);
		}
		&::before {
			transform: translateY(-50%) rotate(-45deg);
			top: 50%;
		}
		&::after {
			transform: translateY(50%) rotate(45deg);
			bottom: 50%;
		}
	}
}
