// @font-face {
// 	font-family: "Forum";
// 	src: url("../fonts/Forum-regular.woff2") format("woff2"), url("../fonts/Forum-regular.woff") format("woff");
// 	font-display: swap;
// 	font-weight: 400;
// 	font-style: normal;
// }
@mixin font($name, $url, $weight, $style) {
	@font-face {
		font-family: "#{$name}";
		src: url("../#{$url}.woff2") format("woff2"), url("../#{$url}.woff") format("woff");
		font-display: swap;
		font-weight: $weight;
		font-style: $style;
	}
}

@include font(Roboto, fonts/roboto-v20-latin_cyrillic-300, 400, normal);
@include font(Roboto, fonts/roboto-v20-latin_cyrillic-700, 700, normal);
@include font(Roboto, fonts/roboto-v20-latin_cyrillic-regular, 300, normal);
