.header {
	padding: 37px 0;
	// .header__flex
	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__container
	&__container {
	}
	// .header__menu
	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 576px) {
			position: fixed;
			top: -150%;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 114px 0px 30px 0px;
			flex-direction: column;
			justify-content: flex-start;
			background-color: $black;
			overflow: auto;
			z-index: 3;
			transition: top 0.3s;
			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				height: 107px;
				width: 100%;
			}
			&--active {
				top: 0;
				&::before {
					background-color: $black;
				}
			}
		}
	}
	// .header__logo
	&__logo {
		flex: 0 0 126px;
		margin-right: 40px;
		position: relative;
		z-index: 10;
	}
	// .header__nav
	&__nav {
		margin-right: 51px;
		@media (max-width: 576px) {
			margin-right: 0;
			margin-bottom: 52px;
		}
	}
	// .header__locales
	&__locales {
	}
	// .header__burger
	&__burger {
	}
}
