.hero {
	// .hero__container
	&__container {
	}
	// .hero__balance
	&__balance {
		margin-bottom: 28px;
	}
	// .hero__currencies
	&__currencies {
		max-width: 678px;
	}
}

.balance {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	// .balance__title
	&__title {
		margin-bottom: 5px;
		font-weight: 300;
		font-size: 14px;
		line-height: lh(16, 14);
		color: #ffffff;
	}
	// .balance__value
	&__value {
		font-weight: 700;
		font-size: 18px;
		line-height: lh(21, 18);
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(90deg, #ff0099, #5131e4);
	}
}
.currencies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
	grid-gap: 15px;
	// .currencies__column
	&__column {
	}
	// .currencies__item
	&__item {
		height: 100%;
		padding: 12px 14px;
		display: flex;
		flex-direction: column;
		background: linear-gradient(241.43deg, #3b37f1 0%, #ff007d 100%);
		border-radius: 10px;
		@media (max-width: 476px) {
			padding: 24px 25px;
		}
	}
	// .currencies__head
	&__head {
		margin-bottom: 12px;
		display: flex;
		align-items: center;
		@media (max-width: 476px) {
			margin-bottom: 33px;
		}
		@media (max-width: 369px) {
			margin-bottom: 20px;
		}
	}
	// .currencies__icon
	&__icon {
		margin-right: 7px;
	}
	// .currencies__name
	&__name {
		font-size: 13px;
		line-height: lh(15, 13);
		color: #ffffff;
		text-transform: uppercase;
		@media (max-width: 476px) {
			font-size: 15px;
		}
	}
	// .currencies__value
	&__value {
		margin-bottom: 33px;
		font-weight: bold;
		font-size: 18px;
		line-height: lh(21, 18);
		color: #ffffff;
		@media (max-width: 476px) {
			font-size: 21px;
			margin-bottom: 65px;
		}
		@media (max-width: 369px) {
			margin-bottom: 40px;
			font-size: 19px;
		}
	}
	// .currencies__buttons
	&__buttons {
	}
}
.currencies-buttons {
	display: flex;
	align-items: center;
	// .currencies-buttons__item
	&__item {
		&:not(:last-child) {
			margin-right: 11px;
			@media (max-width: 476px) {
				margin-right: 19px;
			}
		}
	}
	// .currencies-buttons__btn
	&__btn {
		padding: 5px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 9px;
		line-height: lh(11, 9);
		color: #ffffff;
		border: 1px solid #ffffff;
		box-sizing: border-box;
		border-radius: 10px;
		background: transparent;
		@media (max-width: 476px) {
			font-size: 14px;
			padding: 11px 28px;
			border-radius: 25px;
		}
		@media (max-width: 369px) {
			font-size: 12px;
			padding: 10px 20px;
		}

		&--white {
			background: #ffffff;
			color: $black;
		}
	}
}
