@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
// @import "_svg-initial.scss";
@import "_overall.scss";
@import "_burger.scss";

//components
@import "header.scss";
@import "hero.scss";
@import "auth.scss";
